$iphone-pink: #c99d97;
$iphone-pink-dark: darken($iphone-pink, 10%);
$iphone-width: 15rem;
$iphone-height: 31rem;
$iphone-depth: .6rem;
$iphone-side: $iphone-depth/2;
.iphone {
    position: relative;

    width: 15rem;
    height: 31rem;
    margin: 0 auto;
    padding: 0;

    border: 5px solid $iphone-pink;
    border-radius: 2rem;
    background: #f8f8f8;
    box-shadow: 0 0 0 1px $iphone-pink-dark, 0 0 30px 0 rgba(0, 0, 0, .5);
    span {
        display: block;
    }
    .iphone-top {
        padding: .6rem 4.5rem 1.6rem;

        text-align: center;
        .camera {
            display: block;

            width: .3rem;
            height: .3rem;
            margin: 0 auto .6rem;

            border-radius: 50%;
            background: #28292b;
        }
        .sensor {
            float: left;

            width: .5rem;
            height: .5rem;

            border-radius: 50%;
            background: #28292b;
        }
        .speakers {
            display: block;

            width: 2.4rem;
            height: .3rem;
            margin: 0 auto;

            border-radius: .7rem;
            background: #28292b;
        }
    }
    .iphone-content {
        height: 23.6rem;
        padding: 0 .5rem;
        .screen {
            display: block;
            overflow: hidden;

            width: 100%;
            height: 100%;

            background: url(../images/background2.jpg) center center no-repeat;
            // background: #FFF;
            background-size: auto 100%;
            box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .2);
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .iphone-btns {
        position: absolute;
        left: 0;
        width: 100%;
        .side-btn {
            position: absolute;

            width: 2px;

            border-radius: .5rem 0 0 .5rem;
            background: #ccc;
        }
        .iphone-btns-left {
            position: absolute;
            left: -8px;
            .sound {
                height: 1.5rem;
                top: .5rem;
            }
            .volume-up {
                top: 3rem;

                height: 2.5rem;
            }
            .volume-down {
                top: 5.7rem;

                height: 2.5rem;
            }
        }
        .iphone-btns-right {
            position: absolute;
            right: -6px;
            .power {
                top: .5rem;
                height: 2rem;

                border-radius: 0 2px 2px 0;
            }
        }
    }
    .iphone-bottom {
        padding: .5rem 6rem 1rem;
        .home-btn {
            width: 2.3rem;
            height: 2.3rem;
            margin: 0 auto;
            background: -webkit-linear-gradient(top left, $iphone-pink  0%, #AF8585  50%, #f0f2f2 75%, $iphone-pink  100%);
            background: -o-linear-gradient(top left, $iphone-pink  0%, #AF8585  50%, #f0f2f2 75%, $iphone-pink  100%);
            background: linear-gradient(bottom right, $iphone-pink  0%, #AF8585  50%, #f0f2f2 75%, $iphone-pink  100%);
            border-radius: 50%;
            position: relative;
            &:after {
                background: radial-gradient(#E6E6E6  0%, #FFF  100%);  
                content: "";
                position: absolute;
                left: .1rem;
                top: .1rem;
                width: 2.1rem;
                height: 2.1rem;
                border-radius: 50%;
            }
        }
    }
}
